@model IEnumerable<StudentExercisesEF.Models.Student>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<h4>Search by first or last name:</h4>
<form asp-action="Index" class="m-4" method="GET">
    <div class="input-group mb-3 row">
        <div class="input-group-prepend col-4-sm">
            <span class="input-group-text" id="basic-addon1">Search</span>
        </div>
        <input type="text" name="searchQuery" class="form-control" aria-label="Search" aria-describedby="basic-addon1">
    </div>
    <a class="m2-3" asp-action="Index">Back to Full List</a>

</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SlackHandle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cohort)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SlackHandle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cohort.Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
